{% extends "base.html" %}

{% block content %}
<style>
textarea {
    width: 500px;
    height: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-family: 'Monaco', Courier, monospace;
    margin-bottom: 1.5em;
    padding: .3em .4em;
}
textarea:focus {
    border:1px solid #98FB98;
.button{
        width: 15%;
    }
    p input{
       width:1000px;
        height:35px;
        background: white;
        border:1px solid #dedede;
        padding:10px;
        margin-top:3px;
        font-size:0.9em;
        color:#3a3a3a;
}
a {text-decoration: none;
color:#98FB98;
}




</style>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
                    {% if text %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ text }}
                    </div>
                    {% endif %}
                    </form>
                    <form method="post" novalidate>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <h1>Создайте и добавьте задание</h1>
                        <p>
                            {{ form.title.label }}<br>
                            {{ form.title }}<br>
                            {% for title in form.title.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <p>
                            {{ form.text.label }}<br>
                            {{ form.text }}<br>
                            {% for error in form.text.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                            {{ form.links.label }}<br>
                            {{ form.links }}<br>
                            {% for error in form.links.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <p>
                            {{ form.sentence.label }}<br>
                            {{ form.sentence }}<br>
                            {% for error in form.sentence.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <p>
                            {{ form.choice.label }}<br>
                            {{ form.choice }}<br>
                            {% for error in form.choice.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <p>
                            {{ form.correct.label }}<br>
                            {{ form.correct }}<br>
                            {% for error in form.correct.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                                        <p>
                            {{ form.hints.label }}<br>
                            {{ form.hints }}<br>
                            {% for error in form.correct.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <div class="col-lg-4">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
                <div class="col-lg-4">
                    <div class="form-group form-check">
                        {% for i in users %}
                        {%if i[1] in checked%}
                        <input type="checkbox" class="form-check-input" name={{i[0]}} value={{i[0]}} checked>
                        {%else%}
                        <input type="checkbox" class="form-check-input" name={{i[0]}} value={{i[0]}}>
                        {% endif %}
                        <label class="form-check-label">{{i[1]}}</label>
                        <h4></h4>
                        {% endfor %}
                    </div>
                </div>
                                </div>
                            </div>
                            </div>
                    </form>
{% endblock %}