<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<style>
.button{
        width: 15%;
    }
    p input{
       width:1000px;
        height:35px;
        background: white;
        border:1px solid #dedede;
        padding:10px;
        margin-top:3px;
        font-size:0.9em;
        color:#3a3a3a;
}
a {text-decoration: none;
color:#98FB98;
}
input:focus, textarea:focus {
    border:1px solid #98FB98;

</style>
<h1>Authorization</h1>
<div class="container bgcont center-block">
    <div class="row background-row">

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username }}<br>
                {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <a href="/registration" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign up</a>
        {% if text != ''%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ text }}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>