{%extends "base.html"%}
{%block content%}

<style>
select {
   -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #3a3a3a;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;

}
</style>
<div class="container">
    <div class="row">
        <h3>sxdcfvgbhn</h3>
    <div class="col item">
        <div class="col-2 item">
            <select class="dropdown">
              <option value="" class="label">Setting</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
            </select>
        </div>
</div>
{%endblock%}