{%extends "base.html"%}
{%block content%}

<style>
select {
   -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #3a3a3a;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

</style>
<div class="container">
  <div class="row">
    <div class="col-lg" style="width: 700px;margin: 7px;">
<p align="left">
    <h1> </h1>
<h6>Select the correct word that is missing in the sentences below</h6>
<h1> </h1>
{%for j in length%}
<form method="post">
    <div class="container">
        <div class="row">
            {%if correct%}
            {%if correct[j] == 'true'%}
            <span class="badge badge-success">+</span><h5>{{session['contents'][i][j]}}</h5>
            {% else %}
            <span class="badge badge-danger">-</span><h5>{{session['contents'][i][j]}}</h5>
            {%endif%}
            {% else %}
            <h5>{{session['contents'][i][j]}}</h5>
            {%endif%}
            <div class="col item">
                <div class="col-2 item">
                    <select class="dropdown" name={{j}}>
                        {%for element1 in choices[j]%}
                        {%if answer%}
                        {%if element1 == answer[j]%}
                        <option selected value={{element1}}>{{element1}}</option>
                        {%else%}
                        <option value={{element1}}>{{element1}}</option>
                        {%endif%}
                        {%else%}
                        <option value={{element1}}>{{element1}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                    <h1> </h1>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <h1> </h1>
    <button type="submit" class="btn btn-dark">Done</button>
</form>
</div>
</div>
</div>
{%endblock%}