{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="background-image: url(/static/gradientyellow.jpg); background-size: 100%;">
        <h1 class="display-4">Мои задания</h1>
        <p class="lead">
        <h5>{{name}}</h5>
    </div>
    {% if flag %}
    {% for i in n%}
    <div class="container">
        <div class="row">
        {% if i< n_all %}
        <div class="card" name={{i}} value={{i}} style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{session['titles'][i]}}</h5>
            <p class="card-text">{{session['scores'][i]}}</p>
            {% if session['user_id'] == 1 or session['user_id'] == 2 %}
            <a href="/delete/{{i}}" class="btn btn-light">Удалить</a>
            <a href="/add_task/{{i}}" class="btn btn-light">Редактировать</a>
            {% endif %}
            <a href="/task/{{i}}" class="btn btn-light">Выполнить</a>
            </div>
        </div>
        {% endif %}
            {% if i+1 < n_all %}
            <div class="col item">
                <div class="col-2 item">
                    <div class="card" name={{i+1}} value={{i+1}} style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{session['titles'][i+1]}}</h5>
                    <p class="card-text">{{session['scores'][i+1]}}</p>
                    {% if session['user_id'] == 1 or session['user_id'] == 2 %}
                    <a href="/delete/{{i+1}}" class="btn btn-light">Удалить</a>
                    <a href="/add_task/{{i+1}}" class="btn btn-light">Редактировать</a>
                    {% endif %}
                    <a href="/task/{{i+1}}" class="btn btn-light">Выполнить</a>
                    </div>
                </div>
            </div>
            </div>
            {% endif %}
                {% if i+2 < n_all %}
            <div class="col item">
                <div class="col-3 item">
                    <div class="card" name={{i+2}} value={{i+2}} style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{session['titles'][i+2]}}</h5>
                    <p class="card-text">{{session['scores'][i+2]}}</p>
                    {% if session['user_id'] == 1 or session['user_id'] == 2 %}
                    <a href="/delete/{{i+2}}" class="btn btn-light">Удалить</a>
                    <a href="/add_task/{{i+2}}" class="btn btn-light">Редактировать</a>
                    {% endif %}
                    <a href="/task/{{i+2}}" class="btn btn-light">Выполнить</a>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>

            {% endif %}
    <h3 class="display-4"></h3>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}